.mainB {
  display:flex;
  width: 100%;
  position: relative;
  _background-color: chartreuse;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mainB .empresa {
    width: 20%;
    margin-right: 10px;
}

.mainB .locacion {
    width: 20%;
    margin-right: 10px;
}

.mainB .proveedor {
    width: 20%;
    margin-right: 10px;
}

.mainB .search {
    width: 20%;
    margin-right: 10px;
    margin-top:5px;
}

.mainB .btnbuscar {
    width: 20%;
    margin-top:5px;
}