.card {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color:#fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.25rem;
}

.card-login {
  max-width: 22rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  _background-color: rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.err-msg {
  color:red;
}


